<p id="notice"><%= notice %></p>

<h1><%= @forum_thread.name %></h1>

<span><%= pluralize @forum_thread.forum_posts.count, "Post" %></span>
<%= link_to 'Edit', edit_forum_thread_path(@forum_thread) %>

<div id="comments">
    <%= render partial: 'comments', collection: @forum_thread.forum_posts, as: :forum_post %>
</div>

<hr />
<%= render partial: "forum_posts/form" %>
