<h1><%= "Table #{@table.name}" %></h1>
<dl id="estimates">
  <% @table.player_estimates.each do |player, estimation| %>
      <dt><%= player %></dt>
      <dd><%= estimation %></dd>
  <% end %>
</dl>
<span id="average"><%= @table.average %></span>

<%= form_tag("#", method: :post) do %>
    <%= text_field_tag(:player) %>
    <%= number_field_tag(:estimate) %>
    <%= submit_tag("Estimate!") %>
    <%= button_tag "Reset!", type: :reset %>
<% end %>
